<!-- DETAIL VIEW -->
<section id='details' style='display:none'>
  <!-- Header card -->
  <style>
  .demo-card-event.mdl-card {
    width: 100%;
    height: 176px;
    background: #3E4EB8;
  }
  .demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
  }
  .demo-card-event > .mdl-card__actions > .material-icons {
    padding-right: 10px;
  }
  .demo-card-event > .mdl-card__title,
  .demo-card-event > .mdl-card__actions,
  .demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
  }
  </style>

  <div class='demo-card-event mdl-card mdl-shadow--2dp' onclick='window.open('https://www.google.com/maps/place/Berlin+Hbf/@52.5246269,13.3677176,17z/data=!4m5!3m4!1s0x47a851bdfde3ae73:0x9234e07e8bd376ff!8m2!3d52.5249785!4d13.3699999');'>
    <div class='mdl-card__title mdl-card--expand' id='header_card'>
      <h2 style='position: relative; bottom: -10px;' id='d-title'>Ditsch</h2>
      <p style='position: absolute; bottom: 0;' id='d-address'>
        Berlin central station<br>
        10557 Berlin
      </p>
    </div>
  </div>

  <table class='mdl-data-table mdl-js-data-table' style='width: 100%'>
  <thead>
    <tr>
      <th class='mdl-data-table__cell--non-numeric'>Product</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {{d-items}}

    <!--
      <tr>
        <td class='mdl-data-table__cell--non-numeric'>John Lennon</td>
        <td>40</td>
      </tr>



(index):460 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    -->

    <tr>
      <td class='mdl-data-table__cell--non-numeric'>TOTAL</td>
      <td id='d-total'>73</td>
    </tr>
  </tbody>
</table>
</section>
